<header>
    <div class="header-container">
        <div class="logo">
            <a href="/">
                <img src="/static/vinil_logo.png" alt="Логотип магазина"> <!-- Логотип -->
            </a>
        </div>
        <div class="header-title">
            Vinil Store
        </div>
        <nav class="nav-menu">
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/records">Записи</a></li>
                <li><a href="/cart">Корзина</a></li>
                <!-- <li><a href="/contact">Контакты</a></li> -->
            </ul>
        </nav>
    </div>
</header>
<link rel="stylesheet" href="/static/css/header_style.css">
